func (t *{{ .StructType }}) TemplateText() string {
  var files = []string{
    {{ range .FilePaths -}}
	      "{{ . }}",
    {{ end -}}
  }
  var buf = &bytes.Buffer{}
  for _, file := range files {
    byt, err := os.ReadFile(file)
    if err != nil {
      panic(err)
    }
    buf.Write(byt)
  }
  return buf.String()
}
